.image1{
     margin-top: 20px;
}
.image2{
    margin-left: 31em;
    margin-top: -365px;

}
.image3{
    margin-top: -369px;
    margin-left:62em;
}
.image4{
    margin-top: 20px;  
}

.image5{
    margin-left: 31em;
    margin-top: -365px;

}
.image6{
    margin-top: -369px;
    margin-left:62em;
}


  
    
.footer{
    margin-top: 10px;
    background-color:red;
    color:white;
    width: 150%;
    height: 20rem;
}